/*
.darker-orange { color: #9E5000 }
.orange { color: #E17200 }
.lighter-orange { color: #BD6000 }
.orangy-brown { color: #7C3F00 }
.darkest-brown { color: #502900 }
*/

header {
  width: 75%;
  margin: 0 auto;
}

body {
  background-color: #9E5000;
  font-family: 'Lalezar', cursive;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

img {
  width: 16em;
  height: auto;
}

.main-body {
  width: 75%;
  margin: 0 auto;
}

table {
  width: 100%;
  background-color: #E17200;
  font-weight: normal;
  border: 3px solid #502900;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

tr, th, td {
  background-color: #E17200;
  font-weight: normal;
  border: 3px solid #502900;
  margin: 0;
}
